<a href="https://colab.research.google.com/github/RicNavarro/personal-projects/blob/main/DC_Rebirth_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import numpy as np
import pandas as pd
import glob as gb
import os
import re

Some additional cleaning was done in Excel
1) Instances of "," within certain entries were removed
2) Some text was properly re-encoded (entries with single quotes, for example, were faulty)
3) A few entries contained not the names of the issues, but descriptions of how to read certain events. Those were removed

In [47]:
df_main = pd.read_csv("data/DC_Rebirth_Comic_Order.csv")

In [48]:
df_main.head()

                            Comic Name
0       DC Universe: Rebirth #1 (2016)
1  The Flash: Rebirth Vol. 2 #1 (2016)
2         Nightwing: Rebirth #1 (2016)
3            Titans: Rebirth #1 (2016)
4              Titans Vol. 3 #1 (2016)

We proceed to do some initial formatting in order to extract the character names, whilst removing spacing, parenthesis, issue nnumbering and some other info that won't be relevant for the "Character" field. Also, we distinguish the entrie that indicate an event

In [49]:
def extract_and_clean_name(name):
    if name.split(" ")[0] == 'Read':
        return 'EVENT'
    else:
        return (name.title().split(':')[0].split('Vol')[0].split('#')[0]).rstrip().split("Annual")[-1].split("Special")[-1].upper()

df_main['Character'] = df_main['Comic Name'].apply(extract_and_clean_name)

In [50]:
df_main

                               Comic Name              Character
0          DC Universe: Rebirth #1 (2016)            DC UNIVERSE
1     The Flash: Rebirth Vol. 2 #1 (2016)              THE FLASH
2            Nightwing: Rebirth #1 (2016)              NIGHTWING
3               Titans: Rebirth #1 (2016)                 TITANS
4                 Titans Vol. 3 #1 (2016)                 TITANS
...                                   ...                    ...
2476  Read Dark Nights: Death Metal here.                  EVENT
2477      Generations Shattered #1 (2021)  GENERATIONS SHATTERED
2478         Generations Forged #1 (2021)     GENERATIONS FORGED
2479            Read Endless Winter here.                  EVENT
2480              Read Future State here.                  EVENT

[2481 rows x 2 columns]

## Before stripping the

**Eventização**

O código abaixo deve ser retrabalhado para que todas as entradas onde há 'Character' igual a 'EVENT' sejam stripadas de 'Read ' e ' here.'

In [62]:
def clean_event(x):
  return x.replace('Read ', '').replace(' here.', '')

events_true = df_main['Character'] == "EVENT"
print(events_true)

df_main['event_names_clean'] = df_main.loc[events_true, 'Comic Name'].apply(clean_event)

0       False
1       False
2       False
3       False
4       False
        ...
2476     True
2477    False
2478    False
2479     True
2480     True
Name: Character, Length: 2481, dtype: bool

In [66]:
df_main['Event'] = np.where(df_main['Character'] == "EVENT", df_main['event_names_clean'], "None")
df_main = df_main.drop("event_names_clean", axis="columns")
df_main['Event']

0                           None
1                           None
2                           None
3                           None
4                           None
                  ...
2476    Dark Nights: Death Metal
2477                        None
2478                        None
2479              Endless Winter
2480                Future State
Name: Event, Length: 2481, dtype: object

In [67]:
df_main

,Comic Name,Character,Event
0,DC Universe: Rebirth #1 (2016),DC UNIVERSE,None
1,The Flash: Rebirth Vol. 2 #1 (2016),THE FLASH,None
2,Nightwing: Rebirth #1 (2016),NIGHTWING,None
3,Titans: Rebirth #1 (2016),TITANS,None
4,Titans Vol. 3 #1 (2016),TITANS,None
...,...,...,...
2476,Read Dark Nights: Death Metal here.,EVENT,Dark Nights: Death Metal
2477,Generations Shattered #1 (2021),GENERATIONS SHATTERED,None
2478,Generations Forged #1 (2021),GENERATIONS FORGED,None
2479,Read Endless Winter here.,EVENT,Endless Winter
2480,Read Future State here.,EVENT,Future State

Vamos ter de usar expressões regulares para poder modificar adequadamente as entradas na Série `events_list`, removendo espaços e pontuações para que nossa comparação com o nome dos arquivos seja adequada.

Consta no código uma explicação sobre as expressões

In [80]:
events_list_entry_names = events_list = df_main.loc[df_main['Event'] != 'None']['Event']
print (events_list_entry_names)

def reformat_name_event(event):
    # Substituir qualquer caractere n alfanum (exceto _) ou espaço por um underscore
    #    Regex: [^\w\s] -> qualquer coisa que NÃO seja (caractere alfanumérico OU espaço)
    #    | -> OU
    #    \s+ -> um ou mais espaços
    event = re.sub(r'[^\w\s]|\s+', '_', event)

    # Remover underscores duplicados que possam surgir (ex: "Night__of___the")
    event = re.sub(r'__+', '_', event)

    # Remover underscores no início ou fim da string
    event = event.strip('_')

    return event


events_list_file_names = events_list.apply(reformat_name_event)
print (events_list_file_names)

105             Night of the Monster Men
273     Justice League vs. Suicide Squad
380                      Superman Reborn
534                 The Lazarus Contract
919                   Dark Nights: Metal
1560                    Heroes in Crisis
1577                       Drowned Earth
1911                     Event Leviathan
1970                        City of Bane
2015                        The Infected
2370                           Joker War
2476            Dark Nights: Death Metal
2479                      Endless Winter
2480                        Future State
Name: Event, dtype: object
105            Night_of_the_Monster_Men
273     Justice_League_vs_Suicide_Squad
380                     Superman_Reborn
534                The_Lazarus_Contract
919                   Dark_Nights_Metal
1560                   Heroes_in_Crisis
1577                      Drowned_Earth
1911                    Event_Leviathan
1970                       City_of_Bane
2015                       The_Infected
2370                          Joker_War
2476            Dark_Nights_Death_Metal
2479                     Endless_Winter
2480                       Future_State
Name: Event, dtype: object

Temos que ler os nomes dos arquivos em DC_Events e

**(A)** Conforme fazemos a leitura armazenamos na lista `df_events`, que depois é reordenada segundo `events_dict` ou similares

ou

**(B)** Fazemos a leitura já checando os elementos de `events_dict`, ordenando conforme lemos e armazenando em `dfs_events` já na ordem

In [85]:
col_to_keep = "Comic Name"

events_path = "data/DC_Events/"
fileformat = "*.csv"
event_names = []
dfs_events = []

path_events = gb.glob(f"{events_path}/{fileformat}")

#for i in events_list.values:
#  print(i)
#print ("File names\n")
#for i in path_events:
#  print(os.path.basename(i))

#print ("\nEvent Column names\n")
if (len(path_events) == len(events_list_file_names.values)):
  for i in range(len(path_events)):
    #print(events_path + events_list.values[i] + fileformat.strip("*"))
    try:
        # remeber: the events are added according to the order they were read from in the original Comic_Order file
        event_address = events_path + events_list_file_names.values[i] + fileformat.strip("*")
        df_toshorten = pd.read_csv(event_address)
        dfs_events.append(df_toshorten[[col_to_keep]])
    except:
      print("The " + events_list_file_names.values[i] + " event has no corresponding file")

dfs_events

[              Comic Name
 0       Batman Vol. 3 #7
 1    Nightwing Vol. 4 #5
 2  Detective Comics #941
 3       Batman Vol. 3 #8
 4    Nightwing Vol. 4 #6
 5  Detective Comics #942,
                                     Comic Name
 0                      Suicide Squad Vol. 5 #8
 1                    Justice League Vol. 3 #12
 2   Justice League vs. Suicide Squad #1 (2016)
 3          Justice League vs. Suicide Squad #2
 4          Justice League vs. Suicide Squad #3
 5          Justice League vs. Suicide Squad #4
 6                      Suicide Squad Vol. 5 #9
 7          Justice League vs. Suicide Squad #5
 8                    Justice League Vol. 3 #13
 9          Justice League vs. Suicide Squad #6
 10                    Suicide Squad Vol. 5 #10,
             Comic Name
 0  Superman Vol. 4 #18
 1   Action Comics #975
 2        Superwoman #8
 3  Superman Vol. 4 #19
 4   Action Comics #976
 5  Supergirl Vol. 7 #8
 6        Superwoman #9
 7    Trinity Vol. 2 #8
 8   Action Comics #977
 9   Action Comics #978,
                                           Comic Name
 0                                  Titans Vol. 3 #11
 1                              Teen Titans Vol. 6 #8
 2                             Deathstroke Vol. 4 #19
 3  Teen Titans: The Lazarus Contract Special #1 (...
 4                             Deathstroke Vol. 4 #20,
                                       Comic Name
 0                 Dark Days: The Forge #1 (2017)
 1               Dark Days: The Casting #1 (2017)
 2                   Dark Nights: Metal #1 (2017)
 3                          Dark Nights: Metal #2
 4                Batman: The Red Death #1 (2017)
 5           Batman: The Murder Machine #1 (2017)
 6              Batman: The Dawnbreaker #1 (2017)
 7                  Batman: The Drowned #1 (2017)
 8                         Teen Titans Vol. 6 #12
 9                           Nightwing Vol. 4 #29
 10                      Suicide Squad Vol. 5 #26
 11                        Green Arrow Vol. 6 #32
 12               Batman: The Merciless #1 (2017)
 13                         Dark Nights: Metal #3
 14                          The Flash Vol. 5 #33
 15              Batman: The Devastator #1 (2018)
 16                     Justice League Vol. 3 #32
 17    Hal Jordan and the Green Lantern Corps #32
 18                     Justice League Vol. 3 #33
 19                         Batman Lost #1 (2018)
 20                         Dark Nights: Metal #4
 21                       Hawkman Found #1 (2018)
 22                         Dark Nights: Metal #5
 23  Dark Knights Rising: The Wild Hunt #1 (2018)
 24               The Batman Who Laughs #1 (2018)
 25                         Dark Nights: Metal #6,
                     Comic Name
 0   Heroes in Crisis #1 (2018)
 1       Green Arrow Vol. 6 #45
 2          Heroes in Crisis #2
 3          Heroes in Crisis #3
 4          Heroes in Crisis #4
 5   The Flash Vol. 5 Annual #2
 6            Batman Vol. 3 #64
 7         The Flash Vol. 5 #64
 8            Batman Vol. 3 #65
 9         The Flash Vol. 5 #65
 10         Heroes in Crisis #5
 11         Heroes in Crisis #6
 12         Heroes in Crisis #7
 13         Heroes in Crisis #8
 14         Heroes in Crisis #9,
                                         Comic Name
 0                        Justice League Vol. 4 #10
 1                               Aquaman Vol. 8 #41
 2                                Titans Vol. 3 #28
 3  Justice League/Aquaman: Drowned Earth #1 (2018)
 4                        Justice League Vol. 4 #11
 5                               Aquaman Vol. 8 #42
 6                        Justice League Vol. 4 #12
 7  Aquaman/Justice League: Drowned Earth #1 (2018),
                        Comic Name
 0       Event Leviathan #1 (2019)
 1              Event Leviathan #2
 2             Action Comics #1013
 3              Event Leviathan #3
 4             Action Comics #1014
 5              Event Leviathan #4
 6            Supergirl Vol. 7 #34
 7            Supergirl Vol. 7 #35
 8              Event Leviathan #5
 9   Wonder Woman Vol. 5 Annual #3
 10             Event Leviathan #6,
                              Comic Name
 0                     Batman Vol. 3 #75
 1               Batman: Secret Files #2
 2                     Batman Vol. 3 #76
 3                     Batman Vol. 3 #77
 4                     Batman Vol. 3 #78
 5                     Batman Vol. 3 #79
 6                     Batman Vol. 3 #80
 7                     Batman Vol. 3 #81
 8               Batman Vol. 3 Annual #4
 9                     Batman Vol. 3 #82
 10                    Batman Vol. 3 #83
 11                    Batman Vol. 3 #84
 12                    Batman Vol. 3 #85
 13           Detective Comics Annual #3
 14  Batman: Pennyworth R.I.P. #1 (2020),
                                    Comic Name
 0            Batman/Superman Vol. 2 #1 (2019)
 1                   Batman/Superman Vol. 2 #2
 2         The Infected: King Shazam #1 (2020)
 3   Black Adam: Year of the Villain #1 (2019)
 4                   Batman/Superman Vol. 2 #3
 5              The Infected: Scarab #1 (2020)
 6                          Hawkman Vol. 5 #18
 7                   Batman/Superman Vol. 2 #4
 8                        Supergirl Vol. 7 #36
 9        The Infected: Deathbringer #1 (2020)
 10                         Hawkman Vol. 5 #19
 11                       Supergirl Vol. 7 #37
 12                 Supergirl Vol. 7 Annual #2
 13                  Batman/Superman Vol. 2 #5
 14   The Infected: The Commissioner #1 (2020)
 15                       Supergirl Vol. 7 #38
 16                         Hawkman Vol. 5 #20
 17                  Batman/Superman Vol. 2 #6
 18                       Supergirl Vol. 7 #39
 19                       Supergirl Vol. 7 #40
 20                         Hawkman Vol. 5 #21
 21                         Hawkman Vol. 5 #22
 22                         Hawkman Vol. 5 #23,
                               Comic Name
 0                 Detective Comics #1022
 1                 Detective Comics #1023
 2                 Detective Comics #1024
 3                     Batgirl Vol. 5 #47
 4                     Batgirl Vol. 5 #48
 5                     Batgirl Vol. 5 #49
 6                   Nightwing Vol. 4 #70
 7                   Nightwing Vol. 4 #71
 8                   Nightwing Vol. 4 #72
 9                      Batman Vol. 3 #95
 10               Harley Quinn Vol. 3 #75
 11                  Red Hood: Outlaw #48
 12                  Nightwing Vol. 4 #73
 13                     Batman Vol. 3 #96
 14                     Batman Vol. 3 #97
 15                     Batman Vol. 3 #98
 16                Detective Comics #1025
 17                Detective Comics #1026
 18                  Nightwing Vol. 4 #74
 19  Batman: The Joker War Zone #1 (2020)
 20                     Batman Vol. 3 #99
 21                   Catwoman Vol. 5 #25
 22                    Batman Vol. 3 #100
 23                   Catwoman Vol. 5 #26
 24                    Batgirl Vol. 5 #50
 25                  Nightwing Vol. 4 #75,
                                            Comic Name
 0                  Dark Nights: Death Metal #1 (2020)
 1                         Dark Nights: Death Metal #2
 2                         Dark Nights: Death Metal #3
 3   Dark Nights: Death Metal: Legends of the Dark ...
 4       Dark Nights: Death Metal: Guidebook #1 (2020)
 5   Dark Nights: Death Metal: Trinity Crisis #1 (2...
 6     Dark Nights: Death Metal: Speed Metal #1 (2020)
 7   Dark Nights: Death Metal: Multiverse’s End #1 ...
 8                         Dark Nights: Death Metal #4
 9   Dark Nights: Death Metal: Infinite Hour Exxxtr...
 10  Dark Nights: Death Metal: Rise of the New God ...
 11     Dark Nights: Death Metal: Robin King #1 (2020)
 12                          Justice League Vol. 4 #53
 13                          Justice League Vol. 4 #54
 14                          Justice League Vol. 4 #55
 15                          Justice League Vol. 4 #56
 16                          Justice League Vol. 4 #57
 17                        Dark Nights: Death Metal #5
 18  Dark Nights: Death Metal: The Multiverse Who L...
 19  Dark Nights: Death Metal: The Secret Origin #1...
 20  Dark Nights: Death Metal: The Last Stories of ...
 21                        Dark Nights: Death Metal #6
 22  Dark Nights: Death Metal: The Last 52: War of ...
 23                        Dark Nights: Death Metal #7,
                                       Comic Name
 0       Justice League: Endless Winter #1 (2021)
 1                                 The Flash #767
 2     Superman: Endless Winter Special #1 (2021)
 3                             Aquaman Vol. 8 #66
 4                      Justice League Vol. 4 #58
 5  Teen Titans: Endless Winter Special #1 (2021)
 6                 Justice League Dark Vol. 2 #29
 7   Black Adam: Endless Winter Special #1 (2021)
 8              Justice League: Endless Winter #2,
                                            Comic Name
 0             Future State: Batman/Superman #1 (2021)
 1                    Future State: Batman/Superman #2
 2             Future State: The Next Batman #1 (2021)
 3                    Future State: The Next Batman #2
 4                    Future State: The Next Batman #3
 5                    Future State: The Next Batman #4
 6               Future State: Robin Eternal #1 (2021)
 7                      Future State: Robin Eternal #2
 8                Future State: Harley Quinn #1 (2021)
 9                       Future State: Harley Quinn #2
 10                  Future State: Nightwing #1 (2021)
 11                         Future State: Nightwing #2
 12                   Future State: Catwoman #1 (2021)
 13                          Future State: Catwoman #2
 14             Future State: Dark Detective #1 (2021)
 15                    Future State: Dark Detective #2
 16                    Future State: Dark Detective #3
 17                    Future State: Dark Detective #4
 18                  Future State: The Flash #1 (2021)
 19                         Future State: The Flash #2
 20                Future State: Teen Titans #1 (2021)
 21                       Future State: Teen Titans #2
 22                    Future State: Shazam! #1 (2021)
 23                           Future State: Shazam! #2
 24              Future State: Suicide Squad #1 (2021)
 25                     Future State: Suicide Squad #2
 26                    Future State: Aquaman #1 (2021)
 27                           Future State: Aquaman #2
 28     Future State: Superman of Metropolis #1 (2021)
 29            Future State: Superman of Metropolis #2
 30    Future State: Superman: Worlds at War #1 (2021)
 31           Future State: Superman: Worlds at War #2
 32              Future State: Green Lantern #1 (2021)
 33                     Future State: Green Lantern #2
 34             Future State: Justice League #1 (2021)
 35                    Future State: Justice League #2
 36                          Future State: Kara Zor-el
 37                          Future State: Kara Zor-el
 38               Future State: Wonder Woman #1 (2021)
 39                      Future State: Wonder Woman #2
 40  Future State: Superman vs. Imperious Lex #1 (2...
 41        Future State: Superman vs. Imperious Lex #2
 42        Future State: Superman vs. Imperious Lex #3
 43      Future State: Superman/Wonder Woman #1 (2021)
 44             Future State: Superman/Wonder Woman #2
 45     Future State: Legion of Super-Heroes #1 (2021)
 46            Future State: Legion of Super-Heroes #2
 47      Future State: Superman: House of El #1 (2021)
 48                Future State: Swamp Thing #1 (2021)
 49                       Future State: Swamp Thing #2
 50      Future State: Immortal Wonder Woman #1 (2021)
 51             Future State: Immortal Wonder Woman #2]

### Getting dataframes from each additional file and adding a column with the proper event name

In [104]:
for i in range(len(events_list_entry_names)):
    dfs_events[i]["Event"] = events_list_entry_names.iloc[i]

#Checking one of the dfs for the appropriate column
dfs_events[1].head()

,Comic Name,Event
0,Suicide Squad Vol. 5 #8,Justice League vs. Suicide Squad
1,Justice League Vol. 3 #12,Justice League vs. Suicide Squad
2,Justice League vs. Suicide Squad #1 (2016),Justice League vs. Suicide Squad
3,Justice League vs. Suicide Squad #2,Justice League vs. Suicide Squad
4,Justice League vs. Suicide Squad #3,Justice League vs. Suicide Squad

Next step is to do the dataframe merging

-----
## Removal of character name redundancies (WIP)

In [25]:
all_heroes = df_main['Character']
for i in all_heroes:
    if "JOKER" in i:
        print (i)

# Joker special

#for i in all_heroes:
#    if "JOKER" in i:

df_main.loc[df_main['Character'] == "THE JOKER"]

THE JOKER
THE JOKER 80TH ANNIVERSARY 100-PAGE SUPER SPECTACULAR

                                    Comic Name  Character Event
1943  The Joker: Year of the Villain #1 (2019)  THE JOKER  None

-----

### The Complications of Comic Book Names

We have to deal with cases where an entry has multiple "Protagonists," creating an extra column to identify a possible "collab" title where the secondary character is identified. Criteria being "/  AND & VS." etc