<a href="https://colab.research.google.com/github/RicNavarro/personal-projects/blob/main/DC_Rebirth_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import glob as gb
import os
import re

In [2]:
df_main = pd.read_csv("data/DC_Rebirth_Comic_Order.csv")

In [3]:
df_main.head()

                            Comic Name
0       DC Universe: Rebirth #1 (2016)
1  The Flash: Rebirth Vol. 2 #1 (2016)
2         Nightwing: Rebirth #1 (2016)
3            Titans: Rebirth #1 (2016)
4              Titans Vol. 3 #1 (2016)

Formatação inicial do texto para retirar espaços, parênteses, numerações sobre a edição e demais informações que não são relevantes para o propósito de nossa análise

In [4]:
def extract_and_clean_name(name):
    if name.split(" ")[0] == 'Read':
        return 'EVENT'
    else:
        return (name.title().split(':')[0].split('Vol')[0].split('#')[0]).rstrip().split("Annual")[-1].split("Special")[-1].upper()

df_main['Character'] = df_main['Comic Name'].apply(extract_and_clean_name)

In [5]:
df_main

                               Comic Name              Character
0          DC Universe: Rebirth #1 (2016)            DC UNIVERSE
1     The Flash: Rebirth Vol. 2 #1 (2016)              THE FLASH
2            Nightwing: Rebirth #1 (2016)              NIGHTWING
3               Titans: Rebirth #1 (2016)                 TITANS
4                 Titans Vol. 3 #1 (2016)                 TITANS
...                                   ...                    ...
2479  Read Dark Nights: Death Metal here.                  EVENT
2480      Generations Shattered #1 (2021)  GENERATIONS SHATTERED
2481         Generations Forged #1 (2021)     GENERATIONS FORGED
2482            Read Endless Winter here.                  EVENT
2483              Read Future State here.                  EVENT

[2484 rows x 2 columns]

**Eventização**

O código abaixo deve ser retrabalhado para que todas as entradas onde há 'Character' igual a 'EVENT' sejam stripadas de 'Read ' e ' here.'

In [6]:
#print("Read Night of the Monster Men.".strip('Read ').strip( here.))

def clean_event(x):
  return x.replace('Read ', '').replace(' here.', '')

events_true = df_main['Character'] == "EVENT"
print(events_true)

df_main.loc[events_true, 'Comic Name'] = df_main.loc[events_true, 'Comic Name'].apply(clean_event)

0       False
1       False
2       False
3       False
4       False
        ...
2479     True
2480    False
2481    False
2482     True
2483     True
Name: Character, Length: 2484, dtype: bool

In [7]:
df_main['Event'] = np.where(df_main['Character'] == "EVENT", df_main['Comic Name'], "None")
df_main['Event']

0                           None
1                           None
2                           None
3                           None
4                           None
                  ...
2479    Dark Nights: Death Metal
2480                        None
2481                        None
2482              Endless Winter
2483                Future State
Name: Event, Length: 2484, dtype: object

In [8]:
df_main

,Comic Name,Character,Event
0,DC Universe: Rebirth #1 (2016),DC UNIVERSE,None
1,The Flash: Rebirth Vol. 2 #1 (2016),THE FLASH,None
2,Nightwing: Rebirth #1 (2016),NIGHTWING,None
3,Titans: Rebirth #1 (2016),TITANS,None
4,Titans Vol. 3 #1 (2016),TITANS,None
...,...,...,...
2479,Dark Nights: Death Metal,EVENT,Dark Nights: Death Metal
2480,Generations Shattered #1 (2021),GENERATIONS SHATTERED,None
2481,Generations Forged #1 (2021),GENERATIONS FORGED,None
2482,Endless Winter,EVENT,Endless Winter
2483,Future State,EVENT,Future State

Vamos ter de usar expressões regulares para poder modificar adequadamente as entradas na Série `events_list`, removendo espaços e pontuações para que nossa comparação com o nome dos arquivos seja adequada.

Consta no código uma explicação sobre as expressões

In [9]:
events_list = df_main.loc[df_main['Event'] != 'None']['Event']

def reformat_name_event(event):
    # Substituir qualquer caractere n alfanum (exceto _) ou espaço por um underscore
    #    Regex: [^\w\s] -> qualquer coisa que NÃO seja (caractere alfanumérico OU espaço)
    #    | -> OU
    #    \s+ -> um ou mais espaços
    event = re.sub(r'[^\w\s]|\s+', '_', event)

    # Remover underscores duplicados que possam surgir (ex: "Night__of___the")
    event = re.sub(r'__+', '_', event)

    # Remover underscores no início ou fim da string
    event = event.strip('_')

    return event


events_list = events_list.apply(reformat_name_event)
print (events_list)

105            Night_of_the_Monster_Men
274     Justice_League_vs_Suicide_Squad
381                     Superman_Reborn
535                The_Lazarus_Contract
920                   Dark_Nights_Metal
1562                   Heroes_in_Crisis
1579                      Drowned_Earth
1913                    Event_Leviathan
1972                       City_of_Bane
2017                       The_Infected
2372                          Joker_War
2479            Dark_Nights_Death_Metal
2482                     Endless_Winter
2483                       Future_State
Name: Event, dtype: object

Temos que ler os nomes dos arquivos em DC_Events e

**(A)** Conforme fazemos a leitura armazenamos na lista `df_events`, que depois é reordenada segundo `events_dict` ou similares

ou

**(B)** Fazemos a leitura já checando os elementos de `events_dict`, ordenando conforme lemos e armazenando em `dfs_events` já na ordem

In [20]:
col_to_keep = "Comic Name"

events_path = "data/DC_Events/"
fileformat = "*.csv"
event_names = []
dfs_events = []

path_events = gb.glob(f"{events_path}/{fileformat}")

#for i in events_list.values:
#  print(i)
print ("File names\n")
for i in path_events:
  print(os.path.basename(i))

print ("\nEvent Column names\n")
if (len(path_events) == len(events_list.values)):
  for i in range(len(path_events)):
    #print(events_path + events_list.values[i] + fileformat_noast)
    try:
        event_address = events_path + events_list.values[i] + fileformat.strip("*")
        df_toshorten = pd.read_csv(event_address)
        dfs_events.append(df_toshorten[[col_to_keep]])
    except:
      #print(event_address)
      print("O evento " + events_list.values[i] + " não tem arquivo de nome equivalente")


"""
##teste2 = pd.read_csv("data/DC_Events/Future_test.csv", low_memory=False)
##teste2_stripped =  teste2[[col_to_keep]]
##teste2_stripped.head()


#print(os.path.basename(path_events))
#    print(os.path.basename(i).replace(".csv",""))

#for i in path_events:
#  print(i)
#  event_names.append(os.path.basename(i))
#  dfs_events.append(pd.read_csv(i))
#print(event_names)
"""

File names

City_of_Bane.csv
Dark_Nights_Death_Metal.csv
Dark_Nights_Metal.csv
Drowned_Earth.csv
Endless_Winter.csv
Event_Leviathan.csv
Future_State.csv
Heroes_in_Crisis.csv
Joker_War.csv
Justice_League_vs_Suicide_Squad.csv
Night_of_the_Monster_Men.csv
Superman_Reborn.csv
The_Infected.csv
The_Lazarus_Contract.csv

Event Column names

O evento Endless_Winter não tem arquivo de nome equivalente

'\n##teste2 = pd.read_csv("data/DC_Events/Future_test.csv", low_memory=False)\n##teste2_stripped =  teste2[[col_to_keep]]\n##teste2_stripped.head()\n\n\n#print(os.path.basename(path_events))\n#    print(os.path.basename(i).replace(".csv",""))\n\n#for i in path_events:\n#  print(i)\n#  event_names.append(os.path.basename(i))\n#  dfs_events.append(pd.read_csv(i))\n#print(event_names)\n'

In [15]:
df_main['Character'].unique()

array(['DC UNIVERSE', 'THE FLASH', 'NIGHTWING', 'TITANS', 'SUPERMAN',
       'ACTION COMICS', 'SUPERWOMAN', 'BATMAN', 'GREEN ARROW',
       'SUICIDE SQUAD', 'HAL JORDAN & THE GREEN LANTERN CORPS',
       'GREEN LANTERNS', 'HARLEY QUINN', 'AQUAMAN', 'BATGIRL',
       'BATGIRL AND THE BIRDS OF PREY', 'DETECTIVE COMICS', 'EVENT',
       'TEEN TITANS', 'JUSTICE LEAGUE', 'TRINITY', 'CATWOMAN', 'CYBORG',
       'GOTHAM ACADEMY', 'WONDER WOMAN',
       'WONDER WOMAN TELLS TWO DIFFERENT STORIES IN ALTERNATING ISSUES.',
       '', 'NEW SUPER-MAN', 'DEATHSTROKE', 'RAVEN', 'ALL-STAR BATMAN',
       'RED HOOD AND THE OUTLAWS', 'JUSTICE LEAGUE OF AMERICA',
       'SUPER SONS', 'THE HELLBLAZER', 'SIXPACK AND DOGWELDER', 'DEADMAN',
       'SUPERGIRL', 'MOTHER PANIC', 'BATWOMAN', 'BATMAN BEYOND',
       'BLUE BEETLE', 'CAVE CARSON HAS A CYBERNETIC EYE',
       'DEATH OF HAWKMAN', 'MIDNIGHTER AND APOLLO',
       'SHADE THE CHANGING GIRL', 'BANE', 'DOOM PATROL',
       'THE ODYSSEY OF THE AMAZONS', 'THE FALL AND RISE OF CAPTAIN ATOM',
       'BUG! THE ADVENTURES OF FORAGER', 'MISTER MIRACLE', 'RAGMAN',
       'DAMAGE', 'THE SILENCER', 'BLACK LIGHTNING',
       'BATMAN AND THE SIGNAL', 'THE DEMON', 'THE TERRIFICS',
       'NEW SUPER-MAN AND THE JUSTICE LEAGUE OF CHINA', 'DC NATION',
       'THE CURSE OF BRIMSTONE', 'THE MAN OF STEEL',
       'ADVENTURES OF THE SUPER SONS', 'CHALLENGE OF THE SUPERSONS',
       'THE BRAVE AND THE BOLD', 'SIDEWAYS', 'MERA',
       'SHADE, THE CHANGING WOMAN', 'PLASTIC MAN', 'ETERNITY GIRL',
       'CAVE CARSON HAS AN INTERSTELLAR EYE', 'THE IMMORTAL MEN',
       'NEW CHALLENGERS', 'HAWKMAN', 'MAN-BAT', 'JUSTICE LEAGUE DARK',
       'WONDER WOMAN AND DARK JUSTICE LEAGUE',
       'DARK JUSTICE LEAGUE AND WONDER WOMAN', 'THE UNEXPECTED',
       'AFTER RED HOOD AND THE OUTLAWS', 'RED HOOD', 'THE GREEN LANTERN',
       'JUSTICE LEAGUE ODYSSEY', 'ELECTRIC WARRIORS', 'NAOMI',
       'YOUNG JUSTICE', 'FEMALE FURIES', 'YEAR OF THE VILLAIN',
       'THE BATMAN WHO LAUGHS', 'WONDER TWINS', 'DIAL H FOR HERO',
       'BATMAN AND THE OUTSIDERS', 'SINESTRO', 'BLACK MASK',
       'THE RIDDLER', 'LEX LUTHOR', 'LEGION OF SUPER-HEROES', 'LOIS LANE',
       'NEW YEARÂ€™S EVIL', 'HARLEY QUINNÂ€™S VILLAIN OF THE YEAR',
       'THE JOKER', 'OCEAN MASTER', 'DOOMSDAY CLOCK', 'SHAZAM!',
       'COLLAPSER', 'FREEDOM FIGHTERS', 'GREEN LANTERN',
       'MARTIAN MANHUNTER', 'BATMAN/SUPERMAN', 'INFERIOR FIVE',
       'GOTHAM CITY MONSTERS', 'HARLEY QUINN & POISON IVY',
       'THE GREEN LANTERN SEASON TWO', 'TALES FROM THE DARK MULTIVERSE',
       'FLASH FORWARD', 'LEVIATHAN DAWN', 'BATMAN VS. RAÂ€™S AL GHUL',
       'ROBIN 80TH ANNIVERSARY 100-PAGE SUPER SPECTACULAR', 'AMETHYST',
       'SUPERMANÂ€™S PAL, JIMMY OLSEN',
       'GREEN LANTERN 80TH ANNIVERSARY 100-PAGE SUPER SPECTACULAR',
       'METAL MEN',
       'CATWOMAN 80TH ANNIVERSARY 100-PAGE SUPER SPECTACULAR',
       'HARLEY QUINN AND THE BIRDS OF PREY',
       'THE JOKER 80TH ANNIVERSARY 100-PAGE SUPER SPECTACULAR',
       'AFTER RED HOOD', 'PUNCHLINE', 'SENSATIONAL WONDER WOMAN',
       'FAR SECTOR', 'GENERATIONS SHATTERED', 'GENERATIONS FORGED'],
      dtype=object)

### The Complications of Comic Book Names

We have to deal with cases where an entry has multiple "Protagonists," creating an extra column to identify a possible "collab" title where the secondary character is identified. Criteria being "/  AND & VS." etc